
/* STATUS BAR */

.statusBar {
    -fx-background-color: #ededed;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #d6d6d6;
}

.statusBarDocumentType {
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
}

.statusBarSeparator {
    -fx-font-family: "Material Design Icons";
    -fx-font-size: 18px;
    -fx-text-fill: #0b74d3;
}

.statusBarDocumentName {
    -fx-font-size: 14px;
    -fx-text-fill: #585858;
    -fx-font-style: italic;
}

.statusBarStatusIndicatorIcon {
    -fx-font-family: "Material Design Icons";
    -fx-font-size: 18px;
}

/* ELEMENTS */

.elementsTitleBar {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #8bc2ee;
}

.elementsListView {
    -fx-background-color: transparent;
}

.elementValueTitleBar {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0b74d3;
}

.elementValueTitleBar .label {
    -fx-font-size: 12px;
    -fx-text-fill: #0b74d3;
}

.elementValueTextArea {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-box-border: none;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.elementValueTextArea .content {
    -fx-background-color: transparent;
}

.elementValueTextArea:focused .content {
    -fx-background-color: transparent;
}

.elementAttributesTitleBar {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #11c115;
}

.elementAttributesTitleBar .label {
    -fx-font-size: 12px;
    -fx-text-fill: #11c115;
}