
.editorTopBar {
    -fx-background-color: #434343;
}

.editorTopBarIcon {
    -fx-font-family: "Material Design Icons";
    -fx-font-size: 22px;
    -fx-text-fill: #11C115;
}

.editorTopBarTitle {
    -fx-font-size: 13px;
    -fx-text-fill: #ffffff;
}

.editorTopBarExpandCollapse {
    -fx-font-size: 20px;
    -fx-text-fill: #a0a0a0;
}