
/*.menuPane {*/
    /*-fx-border-width: 0 0 1 0;*/
    /*-fx-border-color: #d3d3d3;*/
/*}*/

.tab {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #a0a0a0;
    -fx-font-weight: bold;
}

/*.menuButtonSelected {*/
    /*-fx-text-fill: #1d1d1d;*/
/*}*/