* {
    scene-bg-color: #ffffff;
    dialog-bg-color: #ededed;

    white-bg: #ffffff;
    gray-bg: #ededed;

    checkbox-bg: #b2b2b2;

    tabs-bg-color: #a0a0a0;
    tab-bg-color: #d3d3d3;
    tab-selected-bg-color: #ededed;

    lighter-border-color: #d6d6d6;
    light-border-color: #c4c4c4;
    dark-border-color: #434343;

    primary-color: #0b74d3;
    dark-color: #585858;
    dimmed-color: #838383;
    muted-color: #a0a0a0;
    light-color: #c4c4c4;
    nice-color: #11c115;
    warning-color: #FFBE05;
    panic-color: #d01f1f;
    info-color: #8bc2ee;
    focus-color: #28a3f4;

    text-color: #000000;
    inverted-text-color: #ffffff;
    primary-text-color: #0b74d3;
    dark-text-color: #585858;
    dimmed-text-color: #838383;
    muted-text-color: #a0a0a0;
    light-text-color: #c4c4c4;
    nice-text-color: #11c115;
    warning-text-color: #FFBE05;
    panic-text-color: #d01f1f;

    toggle-button-bg-color: #a0a0a0;
    toggle-button-text-color: #c4c4c4;

    toggle-button-bg-color-sel: #838383;
    toggle-button-text-color-sel: #ffffff;

    icon-button-bg-color: transparent;
    icon-button-text-color: #585858;

    link-button-bg-color: transparent;
    link-button-text-color: #0b74d3;

    muted-button-bg-color: #a0a0a0;
    muted-button-text-color: #ffffff;

    default-button-bg-color: #ffffff;
    default-button-text-color: #434343;

    primary-button-bg-color: #007aff;
    primary-button-text-color: #ffffff;

    save-button-bg-color: #11c115;
    save-button-text-color: #ffffff;

    panic-button-bg-color: #d01f1f;
    panic-button-text-color: #ffffff;
}

.root {
    -fx-font-family: Arial;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.autofill-text {
    -fx-skin: "digitalbedrock.software.pbcore.components.AutoFillTextBoxPBCoreElementSkin";
}

.title1 {
    -fx-font-size: 24px;
    -fx-text-fill: primary-text-color;
}

.title2 {
    -fx-font-size: 24px;
    -fx-text-fill: text-color;
}

.title3 {
    -fx-font-size: 18px;
    -fx-text-fill: dimmed-text-color;
}

.title4 {
    -fx-font-size: 14px;
    -fx-text-fill: dark-text-color;
    -fx-font-family: Arial;
    -fx-font-weight: 900;
}

.title6 {
    -fx-font-size: 11px;
    -fx-text-fill: muted-color;
    -fx-font-weight: bold;
}

.paragraph {
    -fx-font-size: 14px;
    -fx-text-fill: dimmed-text-color;
}

.paragraphSmall {
    -fx-font-size: 12px;
}

.formLabel {
    -fx-font-size: 13px;
    -fx-text-fill: muted-text-color;
}

.formValidation {
    -fx-font-size: 11px;
}

.darkText {
    -fx-text-fill: dark-text-color;
}

.mutedText {
    -fx-text-fill: muted-text-color;
}

.dimmedText {
    -fx-text-fill: dimmed-text-color;
}

.primaryText {
    -fx-text-fill: primary-text-color;
}

.niceText {
    -fx-text-fill: nice-text-color;
}

.warningText {
    -fx-text-fill: warning-text-color;
}

.panicText {
    -fx-text-fill: panic-text-color;
}

.dimmedIcon {
    -fx-icon-color: dimmed-color;
}

.primaryIcon {
    -fx-icon-color: primary-color;
}

.niceIcon {
    -fx-icon-color: nice-color;
}

.warningIcon {
    -fx-icon-color: warning-color;
}

.panicIcon {
    -fx-icon-color: panic-color;
}

.sceneRoot {
    -fx-background-color: scene-bg-color;
}

.dialogRoot {
    -fx-background-color: dialog-bg-color;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.pagination {
    -fx-padding: 0;
    -fx-page-information-alignment: right;
}

.pagination > .pagination-control > .control-box {
    -fx-alignment: CENTER_LEFT;
}

.check-box {
    -fx-label-padding: 0.0em 0.0em 0.0em 0.416667em; 
    -fx-text-fill: text-color;
}

.check-box:focused {
    -fx-color: checkbox-bg;
}

.check-box > .box {
    -fx-background-color: light-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 2, 2, 1, 1;
    -fx-padding: 0.25em;
}

.check-box:focused > .box {
    -fx-background-color: checkbox-bg;
}

.check-box:hover > .box {
    -fx-color: checkbox-bg;
}

.check-box:armed > .box {
    -fx-color: checkbox-bg;
}

.check-box > .box > .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em;
    -fx-shape: "M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004l0.003,0.004L14.596,2.055z";
}

.check-box:indeterminate > .box > .mark {
    -fx-background-color: transparent;
    -fx-shape: "M0,0H8V2H0Z";
    -fx-scale-shape: false;
}

.check-box:selected > .box > .mark {
    -fx-background-color: white;
}

.check-box:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.check-box:show-mnemonics > .mnemonic-underline {
    -fx-stroke: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: tabs-bg-color;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0 0 0 0;
}

.tab {
    -fx-background-color: tab-bg-color;
    -fx-background-radius: 0;
    -fx-border-radius: 0, 0;
    -fx-font-weight: normal;
}

.tab:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.tab:selected {
    -fx-background-color: tab-selected-bg-color;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-text-fill: text-color;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: tab-selected-bg-color;
}

.tab .tab-label {
    -fx-padding: 0 5 0 5;
    -fx-font-size: 13px;
    -fx-text-fill: dark-text-color;
}

.tab:selected .tab-label {
    -fx-text-fill: text-color;
}

.tab .tab-close-button {
    -fx-padding: 0 5 0 5;
}


.list-view, .list-cell {
    -fx-text-fill: text-color;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.list-cell .label {
    -fx-font-size: 14px;
    -fx-text-fill: text-color;
}

.list-cell .button {
    -fx-min-width: 25px;
    -fx-pref-width: 25px;
    -fx-max-width: 25px;
    -fx-min-height: 25px;
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.list-cell .button .ikonli-font-icon {
    -fx-icon-color: info-color;
}

.list-cell .button.removeButton .ikonli-font-icon {
    -fx-icon-color: rgba(29, 29, 29, 0.15);
}

.list-cell:selected {
    -fx-background-color: rgba(11, 116, 211, 0.25);
    -fx-text-fill: text-color;
}

.list-cell:selected .button.removeButton .ikonli-font-icon {
    -fx-icon-color: rgba(255, 255, 255, 0.35);
}

.tree-view, .tree-cell {
    -fx-text-fill: text-color;
}

.tree-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.tree-cell .label {
    -fx-font-size: 14px;
    -fx-text-fill: text-color;
}

.tree-cell .button {
    -fx-min-width: 25px;
    -fx-pref-width: 25px;
    -fx-max-width: 25px;
    -fx-min-height: 25px;
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.tree-cell .button .ikonli-font-icon {
    -fx-icon-color: info-color;
}

.tree-cell .button.removeButton .ikonli-font-icon {
    -fx-icon-color: rgba(29, 29, 29, 0.15);
}

.tree-cell:selected {
    -fx-background-color: rgba(11, 116, 211, 0.25);
    -fx-text-fill: text-color;
}

.tree-cell:selected .button.removeButton .ikonli-font-icon {
    -fx-icon-color: rgba(255, 255, 255, 0.35);
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: dark-color;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: dark-color;
}

.table-view {
    -fx-base: gray-bg; 
    -fx-control-inner-background: white-bg; 
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
}

.table-view .placeholder {
    -fx-text-fill: text-color;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color:
        transparent
        transparent
        dimmed-color
        transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 13px;
    -fx-font-family: Arial;
    -fx-font-weight: 900;
    -fx-text-fill: dark-text-color;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view .table-cell {
    -fx-min-height: 35px;
    -fx-pref-height: 35px;
    -fx-max-height: 35px;
    -fx-text-fill: text-color;
    -fx-alignment: CENTER-LEFT;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ddd;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: transparent;
}

.text-area {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.toggle-button {
    -fx-padding: 2px 5px;
    -fx-font-size: 12px;
    -fx-background-color: toggle-button-bg-color;
    -fx-text-fill: toggle-button-text-color;
    -fx-background-radius: 3px;
    -fx-background-insets: 0 0 0 0;
}

.toggle-button:selected {
    -fx-background-color: toggle-button-bg-color-sel;
    -fx-text-fill: toggle-button-text-color-sel;
}

.toggle-button.leftToggle {
    -fx-background-radius: 3px 0px 0px 3px;
}

.toggle-button.rightToggle {
    -fx-background-radius: 0px 3px 3px 0px;
}

.button {
    -fx-border-radius: 3px;
}

.iconButton {
    -fx-font-size: 13px;
    -fx-padding: 5px;
    -fx-background-color: icon-button-bg-color;
    -fx-text-fill: icon-button-text-color;
}

.listActionButton {
    -fx-min-width: 25px;
    -fx-pref-width: 25px;
    -fx-max-width: 25px;
    -fx-min-height: 25px;
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.listActionButton.primaryIcon .ikonli-font-icon {
    -fx-icon-color: primary-color;
}

.listActionButton.dimmedIcon .ikonli-font-icon {
    -fx-icon-color: dimmed-color;
}

.listActionButton.niceIcon .ikonli-font-icon {
    -fx-icon-color: nice-color;
}

.listActionButton.warningIcon .ikonli-font-icon {
    -fx-icon-color: warning-color;
}

.listActionButton.panicIcon .ikonli-font-icon {
    -fx-icon-color: panic-color;
}

.iconButton .ikonli-font-icon {
    -fx-icon-color: icon-button-text-color;
}

.linkButton {
    -fx-padding: 5px 0px;
    -fx-font-size: 13px;
    -fx-background-color: link-button-bg-color;
    -fx-text-fill: link-button-text-color;
    -fx-border-width: 0;
}

.mutedButton {
    -fx-padding: 5px 10px;
    -fx-font-size: 13px;
    -fx-background-color: muted-button-bg-color;
    -fx-text-fill: muted-button-text-color;
    -fx-min-width: 80px;
}

.defaultButton {
    -fx-padding: 5px 10px;
    -fx-font-size: 13px;
    -fx-background-color: default-button-bg-color;
    -fx-text-fill: default-button-text-color;
    -fx-min-width: 80px;
}

.primaryButton {
    -fx-padding: 5px 10px;
    -fx-font-size: 13px;
    -fx-background-color: primary-button-bg-color;
    -fx-text-fill: primary-button-text-color;
    -fx-min-width: 80px;
}

.niceButton {
    -fx-padding: 5px 10px;
    -fx-font-size: 13px;
    -fx-text-fill: save-button-text-color;
    -fx-background-color: save-button-bg-color;
    -fx-min-width: 80px;
}

.panicButton {
    -fx-padding: 5px 10px;
    -fx-font-size: 13px;
    -fx-text-fill: panic-button-text-color;
    -fx-background-color: panic-button-bg-color;
    -fx-min-width: 80px;
}

.panicButton.inverseButton {
    -fx-text-fill: panic-button-bg-color;
    -fx-background-color: transparent;
    -fx-border-color: panic-button-bg-color;
}

.smallButton {
    -fx-padding: 2px 5px;
    -fx-font-size: 11px;
}

.bigButton {
    -fx-padding: 10px 15px;
    -fx-font-size: 16px;
}


#DocumentUI .statusBar {
    -fx-background-color: gray-bg;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: lighter-border-color;
}

#DocumentUI .statusBarDocumentType {
    -fx-font-size: 13px;
    -fx-text-fill: text-color;
}

#DocumentUI .statusBarDocumentBatch {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: inverted-text-color;
    -fx-background-color: info-color;
}

#DocumentUI .statusBarSeparator {
    -fx-icon-color: primary-color;
}

#DocumentUI .statusBarDocumentName {
    -fx-font-size: 14px;
    -fx-text-fill: dark-text-color;
    -fx-font-style: italic;
}

#DocumentUI .statusBarStatusIndicatorIcon {
    -fx-icon-color: panic-text-color;
}

#DocumentUI .elementsTitleBar {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: info-color;
}

#DocumentUI .elementsList {
    -fx-background-color: transparent;
}

#DocumentUI .elementsList .tree-cell {
    -fx-background-color: transparent;
    -fx-min-height: 25px;
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
}

#DocumentUI .elementsList .tree-cell:selected {
    -fx-background-color: primary-color;
}

#DocumentUI .elementsList .tree-cell:selected .label {
    -fx-text-fill: inverted-text-color;
}

#DocumentUI .elementsList .tree-cell:selected .button.removeButton .ikonli-font-icon {
    -fx-icon-color: rgba(255, 255, 255, 0.35);
}

#DocumentUI .elementValueTitleBar {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: primary-color;
}

#DocumentUI .elementValueTitleBar .label {
    -fx-font-size: 12px;
    -fx-text-fill: primary-color;
}

#DocumentUI .elementValueContainer {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: light-border-color;
}

#DocumentUI .elementValueTextArea,
#DocumentUI .elementValueCombo {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: light-border-color;
}

#DocumentUI .elementValueList {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

#DocumentUI .elementValueList .list-cell,
#DocumentUI .elementValueList .list-cell:selected {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

#DocumentElementValueListItemUI {
    -fx-background-color: transparent;
    -fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-max-height: 30px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: light-border-color;
}

#DocumentUI .elementValueList .list-cell .label {
    -fx-font-size: 13px;
    -fx-text-fill: text-color !important;
}

#DocumentUI .elementValueTextArea .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#DocumentUI .elementValueTextArea .list-view {
    -fx-background-color: transparent;
}

#DocumentUI .elementValueTextArea .list-view .list-cell {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

#DocumentUI .elementValueCombo {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#DocumentUI .elementAttributesTitleBar {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: nice-text-color;
}

#DocumentUI .elementAttributesTitleBar .label {
    -fx-font-size: 12px;
    -fx-text-fill: nice-text-color;
}

#DocumentUI .attributesList {
    -fx-background-color: transparent;
}

#DocumentUI .attributesList .tree-cell,
#DocumentUI .attributesList .tree-cell:selected {
    -fx-background-color: transparent;
}

#DocumentAttributeListItemUI {
    -fx-background-color: transparent;
    -fx-min-height: 60px;
    -fx-pref-height: 60px;
    -fx-max-height: 60px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: light-border-color;
}

#DocumentAttributeListItemUI .label {
    -fx-font-size: 13px;
    -fx-text-fill: muted-text-color;
}

#DocumentAttributeListItemUI .attributeValueTextBox .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#DocumentElementListItemUI {

}

#DocumentElementListItemUI .label {
    -fx-font-size: 13px;
    -fx-text-fill: text-color;
}

#DocumentElementListItemUI .button {
    -fx-min-width: 25px;
    -fx-pref-width: 25px;
    -fx-max-width: 25px;
    -fx-min-height: 25px;
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

#DocumentElementListItemUI .button .ikonli-font-icon {
    -fx-icon-color: info-color;
}

#DocumentElementListItemUI .button.removeButton .ikonli-font-icon {
    -fx-icon-color: rgba(29, 29, 29, 0.15);
}

#EditorUI {
    -fx-border-width: 1;
    -fx-border-color: lighter-border-color;
}

#EditorUI.closed {
    -fx-border-width: 0;
}

#EditorUI .editorTopBar {
    -fx-background-color: dark-border-color;
}

#EditorUI .editorTopBarIcon {
    -fx-icon-color: nice-text-color;
}

#EditorUI .editorTopBarTitle {
    -fx-font-size: 13px;
    -fx-text-fill: inverted-text-color;
}

#EditorUI .editorTopBarExpandCollapse .ikonli-font-icon {
    -fx-icon-color: muted-color;
}

#EditorUI .previewElementList {
    -fx-background-color: transparent;
}

#EditorUI .previewElementList .list-cell {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

#EditorUI .previewElementList .list-cell:selected {
    -fx-background-color: transparent;
}

#PreviewElementItemUI .elementText {
    -fx-line-spacing: 5;
}

#PreviewElementItemUI .elementText .previewElementLabel {
    -fx-font-size: 13px;
    -fx-fill: #0B74D3;
}

#PreviewElementItemUI .elementText .previewElementValue {
    -fx-font-size: 13px;
    -fx-fill: text-color;
}

#PreviewElementItemUI .elementText .previewElementValue.previewElementXMLValue {
    -fx-font-family: Monospaced;
    -fx-font-size: 13px;
    -fx-fill: text-color;
    -fx-background-color: light-bg;
}

#PreviewAttributeItemUI .attributeText {
    -fx-line-spacing: 3;
}

#PreviewAttributeItemUI .attributeText .attributeLabel {
    -fx-font-size: 13px;
    -fx-fill: #11C115;
}

#PreviewAttributeItemUI .attributeText .attributeValue {
    -fx-font-size: 13px;
    -fx-fill: dark-text-color;
}

#PreviewElementItemUI .itemsText .previewItemsLabel {
    -fx-font-size: 13px;
    -fx-fill: dark-text-color;
}

#PreviewElementItemUI .itemText .previewItemTypeLabel {
    -fx-font-size: 13px;
    -fx-fill: dark-text-color;
}

#PreviewElementItemUI .itemText .previewItemTypeValue {
    -fx-font-size: 13px;
    -fx-fill: dark-text-color;
}

#PreviewElementItemUI .itemText .previewItemFileValue {
    -fx-font-size: 13px;
    -fx-fill: muted-text-color;
}

.closePreviewItemButton {
    -fx-background-radius: 5em;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-background-color: muted-color;
    -fx-icon-color: info-color;
}

.closePreviewItemButton .ikonli-font-icon {
    -fx-icon-color: #ffffff;
}

#ElementSelectorUI .filterSelectorList .tree-cell {
    -fx-min-height: 25px;
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
}


#SearchUI .searchConditionList {
    -fx-background-color: transparent;
}

#SearchUI .searchConditionList .list-cell,
#SearchUI .searchConditionList .list-cell:selected {
    -fx-background-color: transparent;
}

#SearchUI .searchConditionList .list-cell {
    -fx-padding: 0;
}

#SearchUI .searchConditionList .text-field {
    -fx-text-box-border: rgb(207, 207, 207);
}

.fieldType,
#SearchUI .searchConditionList .list-cell .fieldType,
#ElementSelectorUI .filterSelectorList .tree-cell .fieldType {
    -fx-min-width: 16px;
    -fx-pref-width: 16px;
    -fx-max-width: 16px;
    -fx-min-height: 16px;
    -fx-pref-height: 16px;
    -fx-max-height: 16px;
    -fx-font-size: 10px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 2px;
    -fx-padding: 0;
}

.fieldType.elem,
#SearchUI .searchConditionList .list-cell .fieldType.elem,
#ElementSelectorUI .filterSelectorList .tree-cell .fieldType.elem {
    -fx-background-color: #0B74D3;
}

.fieldType.attr,
#SearchUI .searchConditionList .list-cell .fieldType.attr,
#ElementSelectorUI .filterSelectorList .tree-cell .fieldType.attr {
    -fx-background-color: #11C115;
}

#SearchUI .searchConditionList .list-cell .paragraphSmall.dimmedText {
    -fx-font-size: 12px;
    -fx-text-fill: dimmed-text-color;
}


#SearchUI .searchResultsList .list-cell .label {
    -fx-font-size: 13px;
}

#SearchUI .searchResultsList .list-cell:even {
    -fx-background-color: #ffffff;
}

#SearchUI .searchResultsList .list-cell:odd {
    -fx-background-color: #f1f1f1;
}

#SearchUI .searchResultsList .list-cell:selected {
    -fx-background-color: derive(info-color, 50%);
}

#SearchUI .searchResultsList .list-cell .resultFieldLabel {
    -fx-text-fill: dimmed-text-color;
}

#SearchUI .previewElementList {
    -fx-background-color: transparent;
}

#SearchUI .previewElementList .list-cell:selected {
    -fx-background-color: transparent;
}



#SplashUI {
    -fx-background-image: url("../imgs/splash_image.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.copyright {
    -fx-font-size: 11px;
    -fx-text-fill: #ffffff;
}



#SettingsUI .tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

#SettingsUI .tab-pane .tab-content-area {
    -fx-padding: 5 0 0 0;
}

#SettingsUI .tab {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: muted-text-color;
    -fx-font-weight: normal;
}

#SettingsUI .tab:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

#SettingsUI .tab:selected {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-text-fill: text-color;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 0 0;
}

#SettingsCrawlingUI {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: light-border-color;
}

#SettingsVocabulariesUI {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: light-border-color;
}

.autofillList {
    -fx-border-width: 1;
    -fx-border-color: light-border-color;
}


#CVTermListItemUI .termLabel {
    -fx-font-size: 12px;
}

#CVTermListItemUI .sourceLabel {
    -fx-font-size: 10px;
    -fx-text-fill: dimmed-text-color;
}
