* {
    scene-bg-color: #ffffff;
    dialog-bg-color: #ededed;

    white-bg: #ffffff;
    gray-bg: #ededed;

    tabs-bg-color: #a0a0a0;
    tab-bg-color: #d3d3d3;
    tab-selected-bg-color: #ededed;

    lighter-border-color: #d6d6d6;
    light-border-color: #c4c4c4;
    dark-border-color: #434343;

    primary-color: #0b74d3;
    dark-color: #585858;
    dimmed-color: #838383;
    muted-color: #a0a0a0;
    nice-color: #11c115;
    warning-color: #FFBE05;
    panic-color: #d01f1f;
    info-color: #8bc2ee;
    focus-color: #28a3f4;

    text-color: #000000;
    inverted-text-color: #ffffff;
    primary-text-color: #0b74d3;
    dark-text-color: #585858;
    dimmed-text-color: #838383;
    muted-text-color: #a0a0a0;
    nice-text-color: #11c115;
    warning-text-color: #FFBE05;
    panic-text-color: #d01f1f;

    toggle-button-bg-color: #a0a0a0;
    toggle-button-text-color: #c4c4c4;

    toggle-button-bg-color-sel: #838383;
    toggle-button-text-color-sel: #ffffff;

    icon-button-bg-color: transparent;
    icon-button-text-color: #585858;

    link-button-bg-color: transparent;
    link-button-text-color: #0b74d3;

    muted-button-bg-color: #a0a0a0;
    muted-button-text-color: #ffffff;

    default-button-bg-color: #ffffff;
    default-button-text-color: #434343;

    primary-button-bg-color: #007aff;
    primary-button-text-color: #ffffff;

    save-button-bg-color: #11c115;
    save-button-text-color: #ffffff;

    panic-button-bg-color: #d01f1f;
    panic-button-text-color: #ffffff;
}

.root {
    -fx-font-family: "Arial";
}

/*
                _        ______ _ _ _
     /\        | |      |  ____(_) | |
    /  \  _   _| |_ ___ | |__   _| | |
   / /\ \| | | | __/ _ \|  __| | | | |
  / ____ \ |_| | || (_) | |    | | | |
 /_/    \_\__,_|\__\___/|_|    |_|_|_|
*/

.autofill-text {
    -fx-skin: "digitalbedrock.software.pbcore.components.AutoFillTextBoxPBCoreElementSkin";
}

/*
  _______                                      _
 |__   __|                                    | |
    | |_   _ _ __   ___   __ _ _ __ __ _ _ __ | |__  _   _
    | | | | | '_ \ / _ \ / _` | '__/ _` | '_ \| '_ \| | | |
    | | |_| | |_) | (_) | (_| | | | (_| | |_) | | | | |_| |
    |_|\__, | .__/ \___/ \__, |_|  \__,_| .__/|_| |_|\__, |
        __/ | |           __/ |         | |           __/ |
       |___/|_|          |___/          |_|          |___/
*/

.title1 {
    -fx-font-size: 24px;
    -fx-text-fill: primary-text-color;
}

.title2 {
    -fx-font-size: 24px;
    -fx-text-fill: text-color;
}

.title3 {
    -fx-font-size: 18px;
    -fx-text-fill: dimmed-text-color;
}

.title4 {
    -fx-font-size: 14px;
    -fx-text-fill: dark-text-color;
    -fx-font-weight: bold;
}

.title6 {
    -fx-font-size: 11px;
    -fx-text-fill: muted-color;
    -fx-font-weight: bold;
}

.paragraph {
    -fx-font-size: 14px;
    -fx-text-fill: dimmed-text-color;
}

.formLabel {
    -fx-font-size: 13px;
    -fx-text-fill: muted-text-color;
}

.primaryText {
    -fx-text-fill: primary-text-color;
}

.niceText {
    -fx-text-fill: nice-text-color;
}

.warningText {
    -fx-text-fill: warning-text-color;
}

.panicText {
    -fx-text-fill: panic-text-color;
}

/*
  _____
 |_   _|
   | |  ___ ___  _ __  ___
   | | / __/ _ \| '_ \/ __|
  _| || (_| (_) | | | \__ \
 |_____\___\___/|_| |_|___/
*/

.primaryIcon {
    -fx-icon-color: primary-color;
}

.niceIcon {
    -fx-icon-color: nice-color;
}

.warningIcon {
    -fx-icon-color: warning-color;
}

.panicIcon {
    -fx-icon-color: panic-color;
}

/*
   _____
  / ____|
 | (___   ___ ___ _ __   ___  ___
  \___ \ / __/ _ \ '_ \ / _ \/ __|
  ____) | (_|  __/ | | |  __/\__ \
 |_____/ \___\___|_| |_|\___||___/
*/

.sceneRoot {
    -fx-background-color: scene-bg-color;
}

.dialogRoot {
    -fx-background-color: dialog-bg-color;
}

/*
   _____                _ _   _____
  / ____|              | | | |  __ \
 | (___   ___ _ __ ___ | | | | |__) |_ _ _ __   ___
  \___ \ / __| '__/ _ \| | | |  ___/ _` | '_ \ / _ \
  ____) | (__| | | (_) | | | | |  | (_| | | | |  __/
 |_____/ \___|_|  \___/|_|_| |_|   \__,_|_| |_|\___|
*/

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

/*
   _____ _               _    _
  / ____| |             | |  | |
 | |    | |__   ___  ___| | _| |__   _____  __
 | |    | '_ \ / _ \/ __| |/ / '_ \ / _ \ \/ /
 | |____| | | |  __/ (__|   <| |_) | (_) >  <
  \_____|_| |_|\___|\___|_|\_\_.__/ \___/_/\_\
*/

.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: dark-border-color;
    -fx-border-radius: 3px;
}

.check-box .label {
    -fx-padding: 1px;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: focus-color;
    -fx-border-color: focus-color;
}

/*
  _______    _
 |__   __|  | |
    | | __ _| |__  ___
    | |/ _` | '_ \/ __|
    | | (_| | |_) \__ \
    |_|\__,_|_.__/|___/
*/

.tab-pane .tab-header-area .tab-header-background {
    /*-fx-opacity: 0;*/
    -fx-background-color: tabs-bg-color;
}

.tab-pane {
    /*-fx-tab-min-width: 90px;*/
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0 0 0 0;
}

.tab {
    -fx-background-color: tab-bg-color;
    -fx-background-radius: 0;
    -fx-border-radius: 0, 0;
    -fx-font-weight: normal;
}

.tab:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.tab:selected {
    -fx-background-color: tab-selected-bg-color;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-text-fill: text-color;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: tab-selected-bg-color;
}

.tab .tab-label {
    -fx-padding: 0 5 0 5;
    -fx-font-size: 13px;
    -fx-text-fill: dark-text-color;
}

.tab:selected .tab-label {
    -fx-text-fill: text-color;
}

.tab .tab-close-button {
    -fx-padding: 0 5 0 5;
}

/*
  _      _     _    __      ___
 | |    (_)   | |   \ \    / (_)
 | |     _ ___| |_   \ \  / / _  _____      __
 | |    | / __| __|   \ \/ / | |/ _ \ \ /\ / /
 | |____| \__ \ |_     \  /  | |  __/\ V  V /
 |______|_|___/\__|     \/   |_|\___| \_/\_/
*/



/*
  _______             __      ___
 |__   __|            \ \    / (_)
    | |_ __ ___  ___   \ \  / / _  _____      __
    | | '__/ _ \/ _ \   \ \/ / | |/ _ \ \ /\ / /
    | | | |  __/  __/    \  /  | |  __/\ V  V /
    |_|_|  \___|\___|     \/   |_|\___| \_/\_/
*/

.tree-view, .tree-cell {
    -fx-text-fill: text-color;
}

.tree-cell {

}

.tree-cell .label {
    -fx-font-size: 14px;
    -fx-text-fill: text-color;
}

.tree-cell .button {
    -fx-min-width: 25px;
    -fx-pref-width: 25px;
    -fx-max-width: 25px;
    -fx-min-height: 25px;
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.tree-cell .button .ikonli-font-icon {
    -fx-icon-color: info-color;
}

.tree-cell .button.removeButton .ikonli-font-icon {
    -fx-icon-color: rgba(29, 29, 29, 0.15);
}

.tree-cell:selected {
    -fx-background-color: rgba(11, 116, 211, 0.25);
    -fx-text-fill: text-color;
}

.tree-cell:selected .label {

}

.tree-cell:selected .button.removeButton .ikonli-font-icon {
    -fx-icon-color: rgba(255, 255, 255, 0.35);
}

.tree-cell:expanded {

}

/*
  ____        _   _
 |  _ \      | | | |
 | |_) |_   _| |_| |_ ___  _ __
 |  _ <| | | | __| __/ _ \| '_ \
 | |_) | |_| | |_| || (_) | | | |
 |____/ \__,_|\__|\__\___/|_| |_|
*/

.toggle-button {
    -fx-padding: 2px 5px;
    -fx-font-size: 12px;
    -fx-background-color: toggle-button-bg-color;
    -fx-text-fill: toggle-button-text-color;
    -fx-background-radius: 3px;
    -fx-background-insets: 0 0 0 0;
}

.toggle-button:selected {
    -fx-background-color: toggle-button-bg-color-sel;
    -fx-text-fill: toggle-button-text-color-sel;
}

.toggle-button.leftToggle {
    -fx-background-radius: 3px 0px 0px 3px;
}

.toggle-button.rightToggle {
    -fx-background-radius: 0px 3px 3px 0px;
}

.button {
    -fx-border-radius: 3px;
}

.iconButton {
    -fx-font-size: 13px;
    -fx-padding: 5px;
    -fx-background-color: icon-button-bg-color;
    -fx-text-fill: icon-button-text-color;
}

.iconButton .ikonli-font-icon {
    -fx-icon-color: icon-button-text-color;
}

.linkButton {
    -fx-padding: 5px 0px;
    -fx-font-size: 13px;
    -fx-background-color: link-button-bg-color;
    -fx-text-fill: link-button-text-color;
    -fx-border-width: 0;
}

.mutedButton {
    -fx-padding: 5px 10px;
    -fx-font-size: 13px;
    -fx-background-color: muted-button-bg-color;
    -fx-text-fill: muted-button-text-color;
    -fx-min-width: 80px;
}

.defaultButton {
    -fx-padding: 5px 10px;
    -fx-font-size: 13px;
    -fx-background-color: default-button-bg-color;
    -fx-text-fill: default-button-text-color;
    -fx-min-width: 80px;
}

.primaryButton {
    -fx-padding: 5px 10px;
    -fx-font-size: 13px;
    -fx-background-color: primary-button-bg-color;
    -fx-text-fill: primary-button-text-color;
    -fx-min-width: 80px;
}

.niceButton {
    -fx-padding: 5px 10px;
    -fx-font-size: 13px;
    -fx-text-fill: save-button-text-color;
    -fx-background-color: save-button-bg-color;
    -fx-min-width: 80px;
}

.panicButton {
    -fx-padding: 5px 10px;
    -fx-font-size: 13px;
    -fx-text-fill: panic-button-text-color;
    -fx-background-color: panic-button-bg-color;
    -fx-min-width: 80px;
}

.panicButton.inverseButton {
    -fx-text-fill: panic-button-bg-color;
    -fx-background-color: transparent;
    -fx-border-color: panic-button-bg-color;
}

.smallButton {
    -fx-padding: 2px 5px;
    -fx-font-size: 11px;
}

.bigButton {
    -fx-padding: 10px 15px;
    -fx-font-size: 16px;
}

/*
   _____      _ _           _   _                _____                _
  / ____|    | | |         | | (_)              / ____|              | |
 | |     ___ | | | ___  ___| |_ _  ___  _ __   | |     _ __ ___  __ _| |_ ___  _ __
 | |    / _ \| | |/ _ \/ __| __| |/ _ \| '_ \  | |    | '__/ _ \/ _` | __/ _ \| '__|
 | |___| (_) | | |  __/ (__| |_| | (_) | | | | | |____| | |  __/ (_| | || (_) | |
  \_____\___/|_|_|\___|\___|\__|_|\___/|_| |_|  \_____|_|  \___|\__,_|\__\___/|_|
*/

#CollectionCreatorUI {

}

/*
  _____                                        _
 |  __ \                                      | |
 | |  | | ___   ___ _   _ _ __ ___   ___ _ __ | |_
 | |  | |/ _ \ / __| | | | '_ ` _ \ / _ \ '_ \| __|
 | |__| | (_) | (__| |_| | | | | | |  __/ | | | |_
 |_____/ \___/ \___|\__,_|_| |_| |_|\___|_| |_|\__|
*/

/* STATUS BAR */

#DocumentUI .statusBar {
    -fx-background-color: gray-bg;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: lighter-border-color;
}

#DocumentUI .statusBarDocumentType {
    -fx-font-size: 13px;
    -fx-text-fill: text-color;
}

#DocumentUI .statusBarSeparator {
    -fx-icon-color: primary-color;
}

#DocumentUI .statusBarDocumentName {
    -fx-font-size: 14px;
    -fx-text-fill: dark-text-color;
    -fx-font-style: italic;
}

#DocumentUI .statusBarStatusIndicatorIcon {
    -fx-icon-color: panic-text-color;
}

/* ELEMENTS */

#DocumentUI .elementsTitleBar {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: info-color;
}

#DocumentUI .elementsListView {
    -fx-background-color: transparent;
}

#DocumentUI .elementsListView .tree-cell {
    -fx-background-color: transparent;
    -fx-min-height: 25px;
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
}

#DocumentUI .elementsListView .tree-cell:selected {
    -fx-background-color: primary-color;
}

#DocumentUI .elementsListView .tree-cell:selected .label {
    -fx-text-fill: inverted-text-color;
}

#DocumentUI .elementsListView .tree-cell:selected .button.removeButton .ikonli-font-icon {
    -fx-icon-color: rgba(255, 255, 255, 0.35);
}

/* VALUE */

#DocumentUI .elementValueTitleBar {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: primary-color;
}

#DocumentUI .elementValueTitleBar .label {
    -fx-font-size: 12px;
    -fx-text-fill: primary-color;
}

#DocumentUI .elementValueContainer {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: light-border-color;
}

#DocumentUI .elementValueTextArea .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#DocumentUI .elementValueTextArea .list-view {
    -fx-background-color: #ff0000;
}

#DocumentUI .elementValueTextArea .list-view .list-cell {
    -fx-background-color: transparent;
    -fx-font-size: 20px;
}

#DocumentUI .elementValueCombo {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

/* ATTRIBUTES */

#DocumentUI .elementAttributesTitleBar {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: nice-text-color;
}

#DocumentUI .elementAttributesTitleBar .label {
    -fx-font-size: 12px;
    -fx-text-fill: nice-text-color;
}

#DocumentUI .attributesListView {
    -fx-background-color: transparent;
}

/*
  _____                       _   _        _ _           _         _      _     _     _____ _
 |  __ \                 /\  | | | |      (_) |         | |       | |    (_)   | |   |_   _| |
 | |  | | ___   ___     /  \ | |_| |_ _ __ _| |__  _   _| |_ ___  | |     _ ___| |_    | | | |_ ___ _ __ ___
 | |  | |/ _ \ / __|   / /\ \| __| __| '__| | '_ \| | | | __/ _ \ | |    | / __| __|   | | | __/ _ \ '_ ` _ \
 | |__| | (_) | (__   / ____ \ |_| |_| |  | | |_) | |_| | ||  __/ | |____| \__ \ |_   _| |_| ||  __/ | | | | |
 |_____/ \___/ \___| /_/    \_\__|\__|_|  |_|_.__/ \__,_|\__\___| |______|_|___/\__| |_____|\__\___|_| |_| |_|
*/

#DocumentAttributeListItemUI {
    -fx-background-color: transparent;
    -fx-min-height: 60px;
    -fx-pref-height: 60px;
    -fx-max-height: 60px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: light-border-color;
}

#DocumentAttributeListItemUI .label {
    -fx-font-size: 13px;
    -fx-text-fill: muted-text-color;
}

#DocumentAttributeListItemUI .attributeValueTextBox .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

/*
  _____               ______ _                           _     _      _     _     _____ _
 |  __ \             |  ____| |                         | |   | |    (_)   | |   |_   _| |
 | |  | | ___   ___  | |__  | | ___ _ __ ___   ___ _ __ | |_  | |     _ ___| |_    | | | |_ ___ _ __ ___
 | |  | |/ _ \ / __| |  __| | |/ _ \ '_ ` _ \ / _ \ '_ \| __| | |    | / __| __|   | | | __/ _ \ '_ ` _ \
 | |__| | (_) | (__  | |____| |  __/ | | | | |  __/ | | | |_  | |____| \__ \ |_   _| |_| ||  __/ | | | | |
 |_____/ \___/ \___| |______|_|\___|_| |_| |_|\___|_| |_|\__| |______|_|___/\__| |_____|\__\___|_| |_| |_|
*/

#DocumentElementListItemUI {

}

#DocumentElementListItemUI .label {
    -fx-font-size: 14px;
    -fx-text-fill: text-color;
}

#DocumentElementListItemUI .button {
    -fx-min-width: 25px;
    -fx-pref-width: 25px;
    -fx-max-width: 25px;
    -fx-min-height: 25px;
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

#DocumentElementListItemUI .button .ikonli-font-icon {
    -fx-icon-color: info-color;
}

#DocumentElementListItemUI .button.removeButton .ikonli-font-icon {
    -fx-icon-color: rgba(29, 29, 29, 0.15);
}

/*
  ______    _ _ _
 |  ____|  | (_) |
 | |__   __| |_| |_ ___  _ __
 |  __| / _` | | __/ _ \| '__|
 | |___| (_| | | || (_) | |
 |______\__,_|_|\__\___/|_|
*/

#EditorUI {
    -fx-border-width: 1;
    -fx-border-color: lighter-border-color;
}

#EditorUI .editorTopBar {
    -fx-background-color: dark-border-color;
}

#EditorUI .editorTopBarIcon {
    -fx-icon-color: nice-text-color;
}

#EditorUI .editorTopBarTitle {
    -fx-font-size: 13px;
    -fx-text-fill: inverted-text-color;
}

#EditorUI .editorTopBarExpandCollapse .ikonli-font-icon {
    -fx-icon-color: muted-color;
}

/*
  ______ _                           _      _____      _           _
 |  ____| |                         | |    / ____|    | |         | |
 | |__  | | ___ _ __ ___   ___ _ __ | |_  | (___   ___| | ___  ___| |_ ___  _ __
 |  __| | |/ _ \ '_ ` _ \ / _ \ '_ \| __|  \___ \ / _ \ |/ _ \/ __| __/ _ \| '__|
 | |____| |  __/ | | | | |  __/ | | | |_   ____) |  __/ |  __/ (__| || (_) | |
 |______|_|\___|_| |_| |_|\___|_| |_|\__| |_____/ \___|_|\___|\___|\__\___/|_|
*/

#ElementSelectorUI {

}

/*
  __  __       _
 |  \/  |     (_)
 | \  / | __ _ _ _ __
 | |\/| |/ _` | | '_ \
 | |  | | (_| | | | | |
 |_|  |_|\__,_|_|_| |_|
*/

#MainUI {

}

/*
   _____                     _
  / ____|                   | |
 | (___   ___  __ _ _ __ ___| |__
  \___ \ / _ \/ _` | '__/ __| '_ \
  ____) |  __/ (_| | | | (__| | | |
 |_____/ \___|\__,_|_|  \___|_| |_|
*/

#SearchUI {

}

/*
   _____       _           _
  / ____|     | |         | |
 | (___  _ __ | | __ _ ___| |__
  \___ \| '_ \| |/ _` / __| '_ \
  ____) | |_) | | (_| \__ \ | | |
 |_____/| .__/|_|\__,_|___/_| |_|
        | |
        |_|
*/

#SplashUI {

}

/*
   _____      _   _   _
  / ____|    | | | | (_)
 | (___   ___| |_| |_ _ _ __   __ _ ___
  \___ \ / _ \ __| __| | '_ \ / _` / __|
  ____) |  __/ |_| |_| | | | | (_| \__ \
 |_____/ \___|\__|\__|_|_| |_|\__, |___/
                               __/ |
                              |___/
*/

#SettingsUI {

}

#SettingsUI .tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

#SettingsUI .tab-pane .tab-content-area {
    -fx-padding: 5 0 0 0;
}

#SettingsUI .tab {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: muted-text-color;
    -fx-font-weight: normal;
}

#SettingsUI .tab:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

#SettingsUI .tab:selected {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-text-fill: text-color;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 0 0;
}

/*
   _____      _   _   _                    _____                    _ _
  / ____|    | | | | (_)                  / ____|                  | (_)
 | (___   ___| |_| |_ _ _ __   __ _ ___  | |     _ __ __ ___      _| |_ _ __   __ _
  \___ \ / _ \ __| __| | '_ \ / _` / __| | |    | '__/ _` \ \ /\ / / | | '_ \ / _` |
  ____) |  __/ |_| |_| | | | | (_| \__ \ | |____| | | (_| |\ V  V /| | | | | | (_| |
 |_____/ \___|\__|\__|_|_| |_|\__, |___/  \_____|_|  \__,_| \_/\_/ |_|_|_| |_|\__, |
                               __/ |                                           __/ |
                              |___/                                           |___/
*/

#SettingsCrawlingUI {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: light-border-color;
}

/*
   _____      _   _   _                  __      __             _           _            _
  / ____|    | | | | (_)                 \ \    / /            | |         | |          (_)
 | (___   ___| |_| |_ _ _ __   __ _ ___   \ \  / /__   ___ __ _| |__  _   _| | __ _ _ __ _  ___  ___
  \___ \ / _ \ __| __| | '_ \ / _` / __|   \ \/ / _ \ / __/ _` | '_ \| | | | |/ _` | '__| |/ _ \/ __|
  ____) |  __/ |_| |_| | | | | (_| \__ \    \  / (_) | (_| (_| | |_) | |_| | | (_| | |  | |  __/\__ \
 |_____/ \___|\__|\__|_|_| |_|\__, |___/     \/ \___/ \___\__,_|_.__/ \__,_|_|\__,_|_|  |_|\___||___/
                               __/ |
                              |___/
*/

#SettingsVocabulariesUI {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: light-border-color;
}